body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}

.block1, .block2, .block3, .block4 {
    transition: background-color 0.3s ease;
}


.block1 {
    background-color: #587C62; /* Dark Green */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.block2 {
    background-color: #AAC2A2; /* Light Grey */
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    position: relative;
}

.block3 {
    background-color: #e2aa65; /* Yellow */
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.block4 {
    background-color: #8BA3B1; /* Blue */
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    position: relative;
}



        /* Hover effects to swap colors */
        .block1:hover ~ .block2 { background-color: #8BA3B1; }
        .block1:hover ~ .block4 { background-color: #BDBAA6; }

        .block2:hover ~ .block1 { background-color: #BDBAA6; }
        .block2:hover ~ .block4 { background-color: #e2aa65; }

        .block4:hover ~ .block1 { background-color: #8BA3B1; }
        .block4:hover ~ .block2 { background-color: #587C62; }

.text {
    position: absolute;
   
    color: black;
}

.text.salt {
    top: 10px;
    left: 10px;
}

.text.architecture {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    top: 0;
    left: -40px;
    font-size: 18px;
}

.text.interior1 {
    bottom: 60px;
    right: 20px;
}

.text.interior2 {
    top: 20px;
    right: 20px;
    padding: 5%;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 10px 20px;
    background-color: #e2aa65;
    color: rgb(0, 0, 0);
    border: none;
 
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #AAC2A2;
    min-width: 160px;
   
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #e2aa65;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #587C62;}




.plus {
    position: absolute;
    font-size: 20px;
}

.plus1 {
    left: -20px;
    top: 50%;
}

.plus2 {
    left: -20px;
    bottom: 10%;
}

.block3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



