body {
    margin: 0;
    font-family: Arial, sans-serif;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

}


.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.column1 {
    width: 60%;
    background-color: #AAC2A2;
    height: 100%;
}

.column2 {
    width: 40%;
    background-color: #BED0D0;
    height: 50%;
    position: relative;
}

.button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 10px 20px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}





.dropdown {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}






.sub-container {
    display: flex;
    width: 40%;
    height: 50%;
    margin: 0;
}

.sub-column {
    width: 20%;
    background-color: #DFFFC1;
    height: 100%;
    border: 1px solid #ccc;
}

.extra-container {
    display: flex;
    width: 40%;
    height: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 0;
}

.extra-column1 {
    width: 50%;
    background-color: #FFD1DC;
    height: 100%;
    border: 1px solid #ccc;
}

.extra-column2 {
    width: 50%;
    background-color: #587C62;
    height: 100%;
    border: 1px solid #ccc;
}

.rows {
    float: left;
    width: 100%;
    padding: 10px;
    height: 44.15%;
  }

  p{
    font-weight: 200;
    font-size: 14pt;
    padding-left: 5%;
    text-align: left;
  }


  /* part2 with text and images */


.grid-container1{
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
 gap: 10px;
 width: 100%;
}


  .text-grid {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create three equal columns */
    gap: 20px; /* Add space between columns */
    padding: 2%;
    outline-color: #587C62;
  }
  
  .grid-item {
    background-color: #fff;
    
    
    padding: 20px;
    text-align: left;
  }
  
  .image-section {
    flex: 1;
  }
  
  .image-section img {
    max-width: 100%;
    height: auto;
    padding: 5%;
    margin: 5px;
    
  }
  
  .grid-item h3 {
    font-weight: 200;
    font-size: 8pt;
    
    text-align: left;
  }
  
